:root {
  --secondary-color: #007bff;
  --primary-color: #121112;
  --light-color: #f0eeee;
}

body {
  width: 100vw;
  min-height: 100vh;
  font-size: 10px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overscroll-behavior: none;
  color: var(--light-color);
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

h1,
h2,
h3 {
  color: var(--primary-color);
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
